.right {
	flex: 0.48;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.right__scrollable {
	overflow-y: scroll;
	height: 40vh;
}
.right__table {
	width: 100%;
}
.right__heading {
	text-align: center;
	background-color: #566a95;
}

.right__table-headings {
	display: flex;
	background-color: #566a95;
}

.right__table-heading-left {
	flex: 0.8;
	padding: 0.3em 0.5em;
}
.right__table-heading-right {
	flex: 0.2;
	padding: 0.3em 0.5em;
}

.right__countries-list {
	overflow-y: scroll;
	height: 40vh;
}

.title {
	background-color: #566a95;
}

tr {
	display: flex;
	background-color: #fff;
}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0);
}

th,
td {
	color: black;
	padding: 0.3em 0.5em;
}

.right__table__td__name {
	flex: 0.8;
}

.right__table__td__cases {
	align-items: right;
	align-content: flex-end;
	flex: 0.2;
}

.right__table__td__name,
.right__table__td__cases {
	color: #000;
}
@media (min-width: 76.25em) {
	.right {
		max-width: 40%;
	}
}
