.card {
	padding: 0.9em;
	text-align: center;
	align-items: center;
	color: rgba(255, 255, 255, 1);
}
.cardcolor__cases {
	background-color: #e7eb13;
	color: #1c3b7c;
}

.cardcolor__recovered {
	background-color: #167354;
	color: #fff;
}

.cardcolor__deaths {
	background-color: #c10b23;
	color: #fff;
}
.card h1,
h2,
h4 {
	vertical-align: middle;
}

@media (max-width: 47.5em) {
	.card {
		display: flex;
		justify-content: space-around;
		margin: 0.5em 0;
	}
}

@media (max-width: 31.25em) {
	.card {
		flex-direction: column;
	}
}
