.left {
	flex: 0.58;
	align-content: center;
}

.card__container {
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px 0;
}

@media (max-width: 47.5em) {
	.card__container {
		flex-direction: column;
	}
}
