.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 0.3em 0 0.3em 0;
}
.header__logotext {
	text-transform: uppercase;
	font-weight: 800;
}

.header__select {
	padding: 0.7em;
	border-radius: 0.5em;
	background-color: #00f729;
	font-weight: 700;
	text-align: center;
	width: auto;
	border: none;
}
.header__select:focus {
	outline: none;
}

@media (max-width: 47.5em) {
	.header {
		flex-direction: column;
		align-items: center;
	}
}
