* {
	text-transform: capitalize;
	cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
* {
	padding: 0;
	margin: 0;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.app {
	width: 80%;
	margin: auto;
	color: black;
}

/* width */
::-webkit-scrollbar {
	width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #566a95;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f1f1f1;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	background-clip: content-box;
}
